﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="StartForm.aspx.cs" Inherits="WebAppForAlt.StartForm" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
        <link rel="stylesheet" href="style.css">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div align="center">
        <table style="height: 120px; width: 256px">
            <tr>
        <td><asp:label runat="server">Please, enter with your Dropbox account.</asp:label></td>
        <td><asp:Button class="button" ID="Button1" runat="server" Text="Authorization" OnClick="Button1_Click" />
            </tr>
        </table>
    </div>
    </form>
</body>
</html>
