﻿@charset "utf-8";

.button{
    padding:15px 16px;
	border-radius:10px;
	font-size:15px;
	color:#000;
	font-family: 'Calibri', sans-serif;
}

.smallButton{
    padding:5px 8px;
	border-radius:10px;
	font-size:10px;
	color:#000;
	font-family: 'Calibri', sans-serif;
}

.linkButton{
    color:#000;
}

a:hover{
    color: #800;
    text-decoration: underline;
   }



